.bannerAdvisory {
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4) ), url(../images/paul-bence-395888.png);
    height: 836px;
    background-position: 0 -90px;
    background-repeat: no-repeat;
    position: relative;
    position: relative;
    
    .wrapper {
        @extend .flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 750px;

        .bannerAdvisoryContent {
            margin: auto 0;
            padding-right: 320px;

            h6 {
                font-weight: 400;
                line-height: 32px;
                margin: 50px 0;
            }
        }
    }

    .bannerArrows {
        @extend .flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 100%;

        .arrows {
            height: 59px;
            width: 59px;
            background-color: rgba(162, 200, 252, 0.32);
            border-radius: 50%;
            @extend .flex;
            justify-content: center;

            i {
                margin: auto;
                font-size: 3.2rem;
                color: #ffffff;
            }
        }
    }
}

.bannerStats {
    background-color: #1f2329;
    @extend .flex;
}

    .bannerStatsItem {
        flex-basis: 25%;
        border-right: 1px solid #313f51;
        padding-left: 60px;

        .statsItemHolder {
            padding: 60px 0;

            .statsItemImage {
                width: 55px;
                height: 55px;
                margin-bottom: 35px;
            }

            h5 {
                margin-bottom: 35px;
                font-family: 'Source Sans Pro';
                color:
                #ffffff;
                font-weight: 400;
                letter-spacing: 1.25px;
                line-height: 36px;
                font-size: 1.5rem;
            }
            h3 {
                font-family: 'poppins';
                color: #2f87fd;
                line-height: 36px;
                margin-bottom: 35px;
            }
        }
    }

    .bannerStatsItem:first-child {
        padding-left: 0;
        padding-right:60px;
        @extend .flex;
        justify-content: flex-end;
    }

.bannerTestimonial {
    background-color: #2f87fd;
    padding: 100px 0;

    .testimonialContainerImg {
        width: 30%;
        float: left;
    }

    .testimonialContainerDescription {
        width:70%;
        float: left;
        text-align: center;
        padding: 0 40px;
        
        .lrgrTxt,
        h5,
        p {
            color: #ffffff;
            position: relative;
        }

        .lrgrTxt {
            margin-bottom: 100px;

        }
        
        h5:before {
            content: "";
            position: absolute;
            width: 80px;
            height: 1px;
            border-bottom: 1px solid #ffffff;
            left: 330px;
            top: -40px;
        }
    }

    .bannerChanger {
        width: 70%;
        float: right;
        padding-top: 15px;

        @extend .flex;
        justify-content: center;

        .bannerChangerBlock {
            background-color:#347ad8;
            flex-basis: 26px;
            height: 14px;
            margin-right: 10px;
            border-radius: 25px;
        }
    }
}


