button {
    font-family: 'Source Sans Pro';
    color:
    #2f87fd;
    font-weight: 400;
}

.btnBdrBlue {
    font-size: 1.6rem;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border: 3px solid #2f87fd;
    background: none;
    padding: 20px;
    transition: all .4s ease;

    &:hover {
        background-color: #2f87fd;
        color: white;
    }
}

.btnBlue {
    background-color: #2f87fd;
    color:
    #ffffff;
    font-size: 1.8rem;
    letter-spacing: 0.45px;
    border: none;
    padding: 20px 40px 20px 15px;

    &:hover {
        background-color: #ffffff;
        color: #2f87fd;
        transition: all .4s ease;
        border-radius: 25px;
        border: 1px solid #2f87fd;
    }
}

.btnTransparent {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
    background: none;
    border: none;
    margin-bottom: 25px;
    transition: all .4s ease;

    i {
        margin-right: 15px;
    }

    &:hover {
        background: #2f87fd;
        color: white;
        border-radius: 25px;
        border: 1px solid #2f87fd;
    }
}