footer {
    background: #202020;

    li a {
        @extend .lhtGreyTxt;
    }

    a {
        @extend .whiteTxt;
    }
}

.partners {
    background-color: #2f87fd;

    .wrapper {
        @extend .flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 50px 0;
        flex-wrap: wrap;

        .partnersItem {
            width: calc(25% - (30px * 3) / 4);
            margin-right: 30px;
            @extend .flex;

            .partnersItemImage {
                width: 70%;
                margin: auto;
            }
        }

        .partnersItem:last-child {
            margin-right: 0;
        }
    }
}

.footerContact .wrapper {
    position: relative;
    top: -30px;
    .contactInfo {
        background-color: #313030;
        z-index: 1;
        @extend .flex;
    }
}

.contactItem {
    flex-basis: 33.33%;
    @extend .flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;

    .contactItemImage {
        width: 30px; 
    }

    .contactItemImage,
    a {
        margin-left:30px;
    }
}

.bottomBar {
    @extend .flex;
    width: 95%;
    background-color: grey;
    margin:0 auto;
    height: 20px;
    top: -20px;

    .highlightBar {
        position: relative;
        flex-basis: 33.33%;
    }
}

.companyFooter .wrapper {
    @extend .flex;
    align-items: flex-start;
    padding: 100px 0;

    .companyItem {
        flex-basis: 33.33%;
        padding-right: 30px;

        p {
            line-height: 32px;
        }
    }

    .companyNews.companyItem,
    .companyFocus.companyFocus {
        padding-left: 70px;
    }

    .companyHeading {
        @extend .flex;
        align-items: flex-start;
        margin-bottom: 50px;

        .companyLogoImage {
            margin-right: 20px;
        }

    }
    
    .companyLogo .lhtGreyTxt {
        margin-bottom: 50px;
    }

    .companyLogo .blueTxt {
        margin-bottom: 25px;
    }
}

form {
    @extend .flex;
    position: relative;

    input[type=email] {
        padding: 10px;
        border: 0;
        background-color:
        #313030;
        width: 80%;
        height: 48px;
        color: #605d5d;
        font-size: 1.5rem;
    }

    button {
        @extend .btnBlue;
        padding: 13px;
        margin: 0;
        width: 100px;
        border-radius: 25px;
        position: relative;
        right: 20px;
    }
}

.companyFocus {
    h6 {
        margin-bottom: 60px;
    }
}

.companyFocus {
    li {
        margin: 20px 0;
    }
}

.companyNews .newsBlock {
    padding: 50px 0;

    button {
        margin: 50px 0;

        i {
            color: #ffffff;
        }
    }
}

.companyNews .newsBlock:first-of-type {
    border-bottom: 1px solid #313030;
}

.endFooter .wrapper {
    @extend .flex;
    justify-content: space-between;
    padding-top: 50px;
    border-top: 1px solid #313030;

    .navigationSocial {
        @extend .flex;
    }

}

@media (max-width: 1100px) {
    .partners .wrapper .partnersItem  {
        width: calc(50% - (30px * 1) / 2);
        
        .partnersItemImage {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
            img {
                width: 65%;
            }
        }
        
    }

    .partners .wrapper .partnersItem:nth-child(2n) {
        margin-right: 0;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 940px) {
    .footerContact .wrapper .contactInfo {
        flex-direction: column;

        .contactItem {
            display: flex;
            justify-content: flex-start;
            padding-left: 0;
        }
    }
    
    .companyFooter .wrapper {
        flex-direction: column;

        .companyNews.companyItem,
        .companyFocus.companyFocus {
            padding-left: 0px;
        }

        .companyFocus.companyItem {
            padding-top: 50px;
            text-align: right;
            
            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 50%;
                }
            }
        }

        .companyNews.companyItem {
            padding-top: 50px;
            width: 100%;
            text-align: right;
        }

        .companyButton {
            width: 100%;
            text-align: left;
        }

        
    }

    
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}