header {
    display: block;
}

.contactInfo figure {
    margin: auto 0;
}

.extraMargin {
    margin-right: 30px;
}

.contact {
    background-color: lightgrey;

    .wrapper {
        @extend .flex;
        justify-content: space-between;
    }

    .contactInfo {
        @extend .flex;
        height: 65px;

        a {
            margin-left: 25px;
        }

        .contactPhone,
        .contactMail {
            @extend .flex;
            margin-right: 65px;
            height: 30px;


            .contactPhoneImage {
                width: 35px;
            }
        }
    }

    .contactLanguage {
        @extend .flex;
        margin-right: 50px;

        .languageItem {
            position: relative;

            &::after {
                content: "";
                position: relative;
                width: 10px;
                height:1px;
                border-top: 10px solid grey;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }
        }
    }

    .contactPolicy {
        @extend .flex;

        .policyItem img {
            width: 125%;
        }
    }
}

.companyHeader .wrapper {
    @extend .flex;
    justify-content: space-between;
    padding: 20px 0;
    
    .companyLogo {
        @extend .flex;
        padding-top: 20px;
        align-items: flex-start;

        .logoHeading {
            margin-right:40px;
        }
    }

    .companyAddress {
        @extend .flex;
        align-items: flex-start;
        
        .addressItem {
            @extend .flex;
            align-items: flex-start;
            margin-right: 40px;

            .addressItemHolder {
                margin-right: 40px;
            }

            h6 {
                @extend .strongTxt;
                color: rgba(39, 39, 39, 0.7);
            }
        }

    }
}

.navigation .wrapper {
    @extend .flex;
    background-color: #2f87fd;
    justify-content: space-between;

    .navigationMenu,
    .navigationOptions,
    .navigationSocial,
    .navigationContainer {
        @extend .flex;
    }

    .navigationMenu li {
        margin: 0 20px;
    }

    .navigationOptions {
        margin: 0 10px;
        border-right: 1px solid #5499f7;
        padding: 10px 0;

        .navigationOptionsItem {
            margin: 0 20px;
        }
    }

    .navigationSocial {
        margin: 0 20px;
    }

}





