header {
    display: block;
}

.contactInfo figure {
    margin: auto 0;
}

.contactInfo a {
    margin-left: 60px;
}

.extraMargin {
    margin-right: 30px;
}

.contact {
    background-color: #f5f5f5;

    .wrapper {
        @extend .flex;
        justify-content: space-between;
    }

    .contactInfo {
        @extend .flex;
        height: 65px;

        .contactPhone,
        .contactEmail {
            @extend .flex;
            margin-right: 65px;
            height: 30px;
        }

        .contactPhone {
            background:url(../images/phone-call.png) left center no-repeat;
        }

        .contactMail {
            background:url(../images/mail.png) left center no-repeat;
        }
    }

    .contactLanguage {
        @extend .flex;
    }

    .contactPolicy {
        @extend .flex;

        .policyItem img {
            width: 125%;
        }
    }
}

.company .wrapper {
    @extend .flex;

    .companyLogo {
        @extend .flex;

        .logoHeading {
            margin-right:20px;
        }
    }

    .companyAddress {
        @extend .flex;
        
        .addressItem {
            @extend .flex;

            .addressItemHolder {
                margin-right: 20px;
            }
        }

    }
}

.navigation .wrapper {
    @extend .flex;
    background-color: #2f87fd;
    justify-content: space-between;

    .navigationMenu,
    .navigationOptions,
    .navigationSocial {
        @extend .flex;
    }

}





