html {
    font-size: 62.5%; /* makes font 10px */
}

a {
    margin: 0;
    font-family: 'Source Sans Pro';
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-family: 'PlayfairDisplay';
    color:#ffffff;
    font-size: 7.1rem;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
}

h6 {
    margin: 0;
    font-family: 'Source Sans Pro';
    color:
    rgba(39, 39, 39, 0.7);
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.45px;
    line-height: 26px;
    text-align: left;
}

p {
    font-family: 'Source Sans Pro';
    color:rgba(0, 0, 0, 0.7);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 26px;
    text-align: left;
}

.headerWhite {
    color: #ffffff;
}