html {
    font-size: 62.5%; /* makes font 10px */
}

.whiteTxt {
    color: #ffffff;
}

.blueTxt {
    color: #2f87fd;
    margin-bottom: 25px;
}

.strongTxt {
    font-weight: 600;
}

.greyTxt {
    color: rgba(159, 159, 159, 0.7);
}

.lhtGreyTxt {
    color: #b1afaf;
}

a {
    margin: 0;
    font-family: 'Source Sans Pro';
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
}

nav a {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .45px;
}

h1 {
    margin: 0;
    font-family: 'PlayfairDisplay';
    color:#ffffff;
    font-size: 7.1rem;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
}

h2 {
    margin: 0 0 10px 0;
    font-family: PlayfairDisplay;
    color:
    #272626;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 26px;
}

span {
    font-family: PlayfairDisplay;
    color:
    #2f87fd;
    font-weight: 700;
}

h3 {
    margin:0;
    font-family: PlayfairDisplay;
    font-size: 4.5rem;
    color:
    #2f87fd;
    font-weight: 700;
}

h4 {
    margin: 0;
    font-family: PlayfairDisplay;
    color:
    #ffffff;
    font-size: 27.5rem;
    font-weight: 700;
    line-height: 55px;
}

h5 {
    margin: 0;
    font-family: PlayfairDisplay;
    color:
    rgba(39, 39, 39, 0.7);
    font-size: 2rem;
    font-weight: 700;
}

h6 {
    margin: 0;
    font-family: 'Source Sans Pro';
    color:
    rgba(39, 39, 39, 0.7);
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.45px;
    line-height: 26px;
    text-align: left;
}

.headerStrong {
    font-family: PlayfairDisplay;
    color:
    rgba(39, 39, 39, 0.7);
    font-size: 1.8rem;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 36px;
}

p {
    margin: 0;
    font-family: 'Source Sans Pro';
    color:rgba(0, 0, 0, 0.7);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 26px;
    margin-bottom: 25px;
}

.lrgrTxt {
    font-size: 2rem;
    line-height: 37px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 940px) {
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}