
//Make the the partial
//Save the partial
// delete the partial
//import the partial
//Save the style.scss
.flex {
    display:flex;
    align-items: center;
}

@import "components/normalize";
@import "components/typography";
@import "components/buttons";
@import "components/header";
@import "components/banner";
@import "components/article";
@import "components/section";
@import "components/footer";

body {
    background: white;
    font-family: 'Source Sans Pro';
    letter-spacing: .4px;
}

img {
    width: 100%;
    display: inline-block;
}

figure {
    display: inline-block;
    margin-right: 24px;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0;

    li {
        margin-right: 15px;
    }
}


