.flex, .contact .wrapper, .contact .contactInfo, .contact .contactInfo .contactPhone,
.contact .contactInfo .contactEmail, .contact .contactLanguage, .contact .contactPolicy, .company .wrapper, .company .wrapper .companyLogo, .company .wrapper .companyAddress, .company .wrapper .companyAddress .addressItem, .navigation .wrapper, .navigation .wrapper .navigationMenu,
.navigation .wrapper .navigationOptions,
.navigation .wrapper .navigationSocial, .bannerAdvisory .wrapper, .collabContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* makes font 10px */ }

a {
  margin: 0;
  font-family: 'Source Sans Pro';
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-decoration: none; }

h1 {
  margin: 0;
  font-family: 'PlayfairDisplay';
  color: #ffffff;
  font-size: 7.1rem;
  font-weight: 700;
  line-height: 80px;
  text-align: left; }

h6 {
  margin: 0;
  font-family: 'Source Sans Pro';
  color: rgba(39, 39, 39, 0.7);
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.45px;
  line-height: 26px;
  text-align: left; }

p {
  font-family: 'Source Sans Pro';
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 26px;
  text-align: left; }

.headerWhite {
  color: #ffffff; }

header {
  display: block; }

.contactInfo figure {
  margin: auto 0; }

.contactInfo a {
  margin-left: 60px; }

.extraMargin {
  margin-right: 30px; }

.contact {
  background-color: #f5f5f5; }
  .contact .wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .contact .contactInfo {
    height: 65px; }
    .contact .contactInfo .contactPhone,
    .contact .contactInfo .contactEmail {
      margin-right: 65px;
      height: 30px; }
    .contact .contactInfo .contactPhone {
      background: url(../images/phone-call.png) left center no-repeat; }
    .contact .contactInfo .contactMail {
      background: url(../images/mail.png) left center no-repeat; }
  .contact .contactPolicy .policyItem img {
    width: 125%; }

.company .wrapper .companyLogo .logoHeading {
  margin-right: 20px; }

.company .wrapper .companyAddress .addressItem .addressItemHolder {
  margin-right: 20px; }

.navigation .wrapper {
  background-color: #2f87fd;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.bannerAdvisory {
  background-image: url(../images/paul-bence-395888.png), -webkit-gradient(linear, left top, left bottom, from(#eb01a5), to(#d13531));
  background-image: url(../images/paul-bence-395888.png), -webkit-linear-gradient(#eb01a5, #d13531);
  background-image: url(../images/paul-bence-395888.png), -o-linear-gradient(#eb01a5, #d13531);
  background-image: url(../images/paul-bence-395888.png), linear-gradient(#eb01a5, #d13531);
  height: 750px;
  background-position: 0 -90px;
  background-repeat: no-repeat;
  position: relative; }
  .bannerAdvisory::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); }
  .bannerAdvisory .wrapper {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 750px; }
    .bannerAdvisory .wrapper .bannerAdvisoryContent {
      margin: auto 0;
      padding-right: 320px; }

.collabContainer .collabMenu {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%; }

.collabContainer .collabAside {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }

.service {
  padding-top: 50px; }
  .service .serviceHeading {
    text-align: center; }

footer {
  width: 100%; }

body {
  background: white;
  font-family: 'Source Sans Pro';
  letter-spacing: .4px; }

img {
  width: 100%;
  display: inline-block; }

.imgSml {
  width: 28px; }

figure {
  display: inline-block;
  margin-right: 24px; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

ul {
  list-style: none;
  padding-left: 0; }
  ul li {
    margin-right: 15px; }
